@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.column {
    border: solid black 1px;
}
.column p {
    background-color: turquoise;
    color: white;
}

.container-style {
    background-color:whitesmoke;
}
